<div class="itk-pretix-event-exporters">
  <h1>{{ 'Exporters'|t }}</h1>

  {% for exporter in exporter_forms %}
    <fieldset>
      <legend>{{ exporter.name }}</legend>

      {{ exporter.form }}
    </fieldset>
  {% endfor %}

  {% for exporter in exporters %}
  <fieldset>
    <legend>{{ exporter.name }}</legend>
        <form action="{{ path('itk_pretix.pretix_exporter_event_run', {node: node.id, identifier: exporter.getIdentifier()}) }}" method="post">
          {% for parameter in exporter.getInputParameters %}
            <div class="parameter">
            <label>{{ parameter.name }}
              {% if parameter.choices|default(false) %}
                <select name="{{ parameter.name }}">
                  {% for choice in parameter.choices %}
                    <option>{{ choice }}</option>
                  {% endfor %}
                </select>
              {% else %}
                <input name="{{ parameter.name }}"/>
              {% endif %}
            </label>
            </div>
          {% endfor %}
          <button type="submit">{{ 'Run'|t }}</button>
        </form>

      </fieldset>
  {% endfor %}

</div>
